# generic
.DS_Store

# NPM logfile
npm-debug.log

#phpstorm
/.idea


# Cache and TMP ignoring (folder allways delete and .dummy created by pimcore)

# cache
/website/var/cache/*
!/website/var/cache/.dummy

# tmp (minified css, core-js..)
/website/var/tmp/*
!/website/var/tmp/.dummy

# user image thumbnails (maybe more??)
/website/var/system/*
!/website/var/system/.dummy

# captcha imgs
/static/img/captcha/*
!/static/img/captcha/.dummy

/website/var/log/*
!/website/var/log/.dummy

/website/var/email/*
!/website/var/email/.dummy

/website/var/recyclebin/*
!/website/var/recyclebin/.dummy

/website/var/search/*
!/website/var/search/.dummy

/website/var/system/*
!/website/var/system/.dummy

/website/var/versions/document/*
!/website/var/versions/document/.dummy

/website/var/versions/object/*
!/website/var/versions/object/.dummy

/website/var/versions/asset/*
!/website/var/versions/asset/.dummy

/website/var/webdav/*
!/website/var/webdav/.dummy

/website/var/classes/*
/website/var/classes/.dummy
/website/var/classes/Object/.dummy

# /website/var/config/system.xml
# /website/var/config/system.php

# /website/var/assets/*
# !/website/var/assets/.dummy