// VARIABLES
// --------------------------------------------------------------------------------

// regular padding
@default-padding: 15px;
// Breakpoints
@screen-xs-min:              480px;
@screen-sm-min:              768px;
@screen-md-min:              992px;
@screen-lg-min:              1200px;
// Mobile - Desktop Breakpoint
@screen-desktop-min: @screen-md-min;
// Mobile - Container goes 100% width
@container-dissolve-max: (@screen-desktop-min - 1);


// container-width compared to screen-width:
@container-reduction-value: 0px;

// POSSIBILITY TO OVERWRITE VARS
@import (optional) "../../../css/vars.less";
@import (optional) "../../../../../css/vars.less";

// BELOW: only processing
// --------------------------------------------------------------------------------

// mediaquery max helper value
@screen-xxs-max:             (@screen-xs-min - 1);
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);
@screen-mobile-max:          (@screen-desktop-min - 1);

// Container sizes
@factor: 0.098;
@container-sm: ( ( floor( @screen-sm-min * @factor ) * 10 ) - @container-reduction-value);
@container-md: ( ( floor( @screen-md-min * @factor ) * 10 ) - @container-reduction-value);
@container-lg: ( ( floor( @screen-lg-min * @factor ) * 10 ) - @container-reduction-value);

// declare / overwrite this var for bootstrap components
@grid-gutter-width: @default-padding * 2;

// -------------------------------------------------------------